@using Microsoft.AspNetCore.Identity
@using ETicaretMVC.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="header-card-link" asp-area="Identity" asp-page="/Account/Basket" >
        <i class="bi bi-bag"></i>
        <span class="header-card-count">@ViewData["BasketCount"]</span>
    </a>
}
else
{
    <a id="register" asp-area="Identity" asp-page="/Account/Login" class="header-card-link">
        <i class="bi bi-bag"></i>
        <span class="header-card-count">0</span>
    </a>
}


