@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<section class="account-page reset-page">
    <div class="container">
        <div class="account-wrapper reset-password">
            <div class="box">
        <form method="post">
            <h2>E-Posta Adresinizi Giriniz</h2>
            <div class="inputBox">
                <input asp-for="Input.Email" type="email" required="required" />
                <span>E-Posta</span>
                <i></i>
            </div>

            <button >E-Mail Gönder</button>

        </form>
            </div>
        </div>
    </div>
</section>

